#title{

	color: gray;
	letter-spacing:5px;

}

button{

	background-color: #C0A9BD;
	color:white;
	border:none;
	width:100%;
	padding:10px;
	border-radius:30px;

}

.checkbtn{
	
	width:100px;
	padding:10px;
	
}

.form-control{
	border:none;
}

.form-control:focus{
	border-color:#C0A9BD;
}