<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyco.project.dao.ProjectDao">

	<select id="getProjectList" resultType="com.cyco.project.vo.ProjectVO" parameterType="string">
		select p.project_id, p.member_id, p.adr_name, p.field_name,vpd.p_title, vpd.p_image, vpd.duration_date, vpd.p_content, vpd.p_state, vpd.p_views, vpd.p_date
		from view_pj_adr_field p
		inner join view_project_detail vpd
		on p.project_id = vpd.project_id
		${where}
		order by vpd.p_date
		desc
	</select>
	
	<select id="getFiltedProjectList" parameterType="hashmap" resultType="string">
	select p.project_id
	from project p 
	inner join p_detail pd 
	on pd.project_id = p.project_id
	where p.field_code like '%${field_code}'
    and p.adr_code like '%${adr_code}'
    and pd.p_state like '%${p_state}'
	</select>
	
	<select id="getProjectMemberList">
		select project_id, member_id, position_name  from view_pm_position
	</select>
	
	<select id="getProjectSkillList">
		select project_id, skill_name from view_psk_sk
	</select>
	
	<select id="getAdrList">
		select adr_code, adr_name from adr
	</select>
	
	<select id="getFieldList">
		select skill_code, skill_name, skill_enable from skill
	</select>
	
	<select id="getSkillList">
		select field_code, field_name,field_enable from p_field
	</select>
</mapper>