@charset "UTF-8";
@charset "UTF-8";

.wish_container{
	width: 1000px;
    margin: 100px auto;
    text-align: center;
    font-size: 16px;
}

.wish_section{
	background-color: #F4F2F3;
    margin: 30px 0;
    padding: 30px 50px 30px 50px;
}

.wish_title{
	font-size: 21px;
    color: #94A7AE;
    letter-spacing: 10px;
    font-weight: bold;
    text-align: center;
}

.info_text_sec{
	width:98%;
	margin: 0 auto;
}
.m_status{
	font-size:16px;
	color:#94A7AE;
	font-weight: 500;
}

.m_status:after{
	content:"";
	margin:0 10px;
	font-size:16px;
	color:#94A7AE;
	
}


.info_text{
	font-size: 12px !important;
	color: #8e8ea2 !important;
	 margin-left: 30px;
}

.info_cut{
	text-align: right;
}

.marginBox{
	width: inherit;
	height: 50px;
}

.table_name_text{
	font-size: 18px !important;
    color: #94a7ae;
    font-style: italic;
    font-weight: 600;
    opacity: 0.8;
    margin: 0px;
}

.wish_project_list{
	width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
    background-color: #fff;
}

.table_sec{
	width: 90%;
	margin: 0 auto;
}

/*북마크 표시*/
.bookmark{
	margin-left: auto;
	font-size: 20px;
	width: 20px;
	height: 20px;
	color: white;
	cursor: pointer;
}

.bookmark:hover{
	color: #ca8fab;	
}

.marking{
	color: #ca8fab !important;
}

.no_marking{
	color: rgba(202, 143, 171, 0.2) !important;
	-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgba(202, 143, 171, 0.7);
}

.no_marking:hover{
	opacity: 1.0 !important;
}

/* 지원취소버튼 */
.applyCancle{
	margin-left: auto;
	font-size: 20px;
	width: 20px;
	height: 20px;
	color: #94a7ae;
	cursor: pointer;
}

.apply_end{
	margin-left: auto;
	font-size: 20px;
	width: 20px;
	height: 20px;
	color: #fff;
}

/* 테이블디자인 */
.wish_table{
	border-collapse: collapse;
	text-align: center;
	
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.wish_table a:hover {
	color: #94a7ae;
	text-decoration: underline;
}

.table_head{
	background-color: #F4F2F3;
	font-size: 16px;
	border: none;
}

.apply_table th {
	border: none !important;
	color: #8c8c8c;
    font-size: 14px;
    font-weight: normal;
}

/* 프로젝트 상태 */
.state_ing {
	margin-bottom: 0px;
    color: #fff;
    border: 1px solid #ca8fab;
    width: fit-content;
    padding: 0px 10px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #ca8fab;
    font-size: 14px;
}

.state_end {
	margin-bottom: 0px;
    color: #fff;
    border: 1px solid #94a7ae;
    width: fit-content;
    padding: 0px 10px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #94a7ae;
    font-size: 14px;
}

.state_ban {
	margin-bottom: 0px;
    color: #fff;
    border: 1px solid #bfbfbf;
    width: fit-content;
    padding: 0px 10px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #bfbfbf;
    font-size: 14px;
}

/* myProject용 css */
.info_text_point{
	font-size: 12px !important;
    color: #8e8ea2 !important;
    margin-left: 30px;
    text-align: right;
}

.leaderIcon{
	color: #ffcc00;
}

/* 리뷰영역 */
.reviewBox {
	width: 90%;
	margin: 0 auto;
	margin-top: 40px;
	
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding-top: 40px;
    padding-bottom: 40px;
    
	/* height: 400px; */
	
	text-align: left;
	background-color: #fff;
}

/* 리뷰 없을 때 */
.review_nothing{
	text-align: center;
	position: relative;
    width: 80% !important;
    margin-bottom: 1.875rem;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    
    color: #94A7AE;
    font-size: 14px;
}

/* 리뷰 1개 */
.reviews{
	position: relative;
    width: 90% !important;
    margin-bottom: 1.875rem;
    margin: 0 auto;
    margin-bottom: 40px;
}


.reviewWriter{
	display: inline-block;
    margin: 0 .5rem .5rem 0;
	font-size: 1rem;
    /* line-height: 1.5rem; */
    letter-spacing: -.01875rem;
}

.star-rate{
	display: inline-block;
	padding: 0;
    margin: 0;
    line-height: 0;
    /* width: 120px; */
}

.review-star{
	font-size: 12px;
	color: #ffdb4d;
}

.review-date{
	color: #a6a6a6;
	font-size: 14px;
	display: inline-block;
	padding: 0;
    margin-left: 10px;
    line-height: 0;
	width: 100px;
}

.review-content{
	color: #737373;
    margin-bottom: 0;
	font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* 탑버튼 */
#topBtn {
	position: fixed;
	right: 22px;
	bottom: 22px;
	display: none;
	z-index: 100;
	width: 50px;
}

/* 더보기 링크 */
.moreSec{
	width: 100%;
	text-align: center;
	margin-top: 60px;
}

.moreLink{
	font-size: 16px;
	color: #ca8fab;
	cursor: pointer;
}

/* 모달창 */
/*모달창*/
.modal.fade .modal-dialog{
	margin: auto;
	height:800px;
	width:800px;
	max-width:1000px;
}
.modal.show .modal-dialog{
	margin: auto;
	height:1000px;
	width:800px;
	max-width:1000px;
}

.modal-header{
	text-align:center;
}

#modal-title{
	color:gray;
	font-size:21px;
	text-align:center;
	font-weight:bold;
	width:100%;
	margin:0 !important;
}
.modal-login {
	color: #636363;
	width: 350px;
	margin: auto;
}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	text-align: center;
}
.modal-content{

	margin-top:200px;
}

.modal-login .btn {
	background: #00ce81;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #00bf78;
}

#modal-body{
	overflow:auto;
/* 	overflow-anchor: none; */
	padding:0 30px 30px 30px;
}
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
	justify-content: center;
}
/* 관리자페이지 - 회원관리 Ban버튼 */
.applyBan{
	margin-left: auto;
	font-size: 18px;
	width: 20px;
	height: 20px;
	color: red;
	cursor: pointer;
}
.cancelBan{
	margin-left: auto;
	font-size: 18px;
	width: 20px;
	height: 20px;
	color: #94a7ae;
	cursor: pointer;
}
.mem_info_text_sec{
	width:98%;
	margin: 0 auto;
	display:flex;
	align-items: center;
}

.mem_info_text{
	font-size: 12px !important;
	color: #8e8ea2 !important;
}
#MemberNameSearch {
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.m_search {
    width: 200px!important;
    float: right;
    margin-left: auto;
    margin-bottom: 1rem;
}
