@charset "UTF-8";


.main_{
	position: absolute;
	width: 100%;
}

.main_area_l{
	height: 100vh;
	width: 50%;
   	float: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../assets/img/main_page/main_Project.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    margin: 0;
}

.main_area_r{
	height: 100vh;
	width: 50%;
	float: right;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../assets/img/main_page/main_Member.jpeg");
    background-repeat: no-repeat; 
    background-size: cover;
    border: none;
    margin: 0;
}

.main_center{
	margin-top: 40%;
	color: white;
	text-align: center;
	
}

.main_center >p{
	font-size: 2.5rem;
	font-weight: bold;
	margin: 0;
}

.right_nav{
	text-align: right;
	width: 100%;
}

.plex_right{
	justify-content: flex-end;
}

/* footer */
.footer_img_box{
	width: 150px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

.footer_img_box > img{
	width: 150px;
	margin-bottom: 30px;
}

.page-footer{
	border-top: 0.0625rem solid #D1D5DB;
	background-color: #f4f2f3;
}

.footer_icon i{
	margin-right: 10px;
}

.footer_links{
	padding-left: 50px;
}

.footer_cycoding{
	color: gray;
}

.user_info{
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: translateY(99%);
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 1.3125rem;
    width: 200px;
    overflow: visible;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    font-size: 12px;
    z-index: 2;
}

.user_info >h4{
    font-size: 1rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mypage{
	border-bottom: 1px solid #e1e1e1;
    margin-top: 1rem;
    margin-bottom: 1.3125rem;
    padding-bottom: 1.3125rem;
}
.mypage >a{
	display: block;
	margin: .65625rem 0 0 0;
}

.Nav_Drop_A{
	font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
}

.logout{
	padding: 0.5rem 0 0.5rem 0;
	margin: 1.3125rem -1.3125rem -1.3125rem;
    background-color: #fafafa;
    text-align: center;
}

.alarmbell{
	width:17px;
	height:20px;
	opacity: .8 !important;
}
.mydropdow{
	position: absolute;
	top:16px;
	height:100px;
}
.sub{
	position: absolute;
    top: 38px;
    left: -115px;
    width: 220px;
    z-index: 999;
    background-color: white;
    padding:0;
}
.sub ul{
	padding:0;
}
.sub ul li{
	margin:0;
	width:100%;
	padding:10px;
}

.sub ul li:hover{
	background-color: #F4F2F3;
}
/* #mydropdow ul{
	display:none;
	height:auto; 
	padding:0px; 
	margin:0px; 
	border:0px; 
	position:absolute; 
	width:200px; 
	z-index:200;

}

#mydropdow:hover ul{
	display:block;
} */

.Alram_box{
    position: absolute;
    bottom: 0;
    right: -72px;
    transform: translateY(99%);
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 1.3125rem;
    width: 250px;
    overflow: visible;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    z-index: 2;
    text-align:left;
}

.susub{
	padding:0;
	width:100%;
	background-color: #F4F2F3;
}
.susub li{
	background-color: #F4F2F3;
	height:40px;
	padding:5px 0px;
	margin:0;	
}

.susub li:hover{
	background-color:white !important;
}
.alarm_content{
	font-size:12px;
}
.susub li:last-child{
	background-color:#94A7AE;
}
.susub li:last-child:hover{
	background-color:#94A7AE;
}
#more{
	background-color:#94A7AE;
	height:100%;
	width:100%;
	color:#F4F2F3;
	border:none;
	
}