@charset "UTF-8";


.main_{
	position: absolute;
	width: 100%;
}

.main_area_l{
	height: 100vh;
	width: 50%;
   	float: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../assets/img/main_page/main_Project.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    margin: 0;
}

.main_area_r{
	height: 100vh;
	width: 50%;
	float: right;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../assets/img/main_page/main_Member.jpeg");
    background-repeat: no-repeat; 
    background-size: cover;
    border: none;
    margin: 0;
}

.main_center{
	margin-top: 40%;
	color: white;
	text-align: center;
	
}

.main_center >p{
	font-size: 2.5rem;
	font-weight: bold;
	margin: 0;
}

.right_nav{
	text-align: right;
	width: 100%;
}

.plex_right{
	justify-content: flex-end;
}

/* footer */
.footer_img_box{
	width: 150px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}

.footer_img_box > img{
	width: 150px;
	margin-bottom: 30px;
}

.page-footer{
	border-top: 0.0625rem solid #D1D5DB;
	background-color: #f4f2f3;
}

.footer_icon i{
	margin-right: 10px;
}

.footer_links{
	padding-left: 50px;
}

.footer_cycoding{
	color: gray;
}

.user_info{
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: translateY(99%);
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 1.3125rem;
    width: 200px;
    overflow: visible;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    font-size: 12px;
    z-index: 2;
}

.user_info >h4{
    font-size: 1rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mypage{
	border-bottom: 1px solid #e1e1e1;
    margin-top: 1rem;
    margin-bottom: 1.3125rem;
    padding-bottom: 1.3125rem;
}
.mypage >a{
	display: block;
	margin: .65625rem 0 0 0;
}

.Nav_Drop_A{
	font-size: .875rem;
    line-height: 1.3125rem;
    font-weight: 400;
    letter-spacing: -.0125rem;
}

.logout{
	padding: 0.5rem 0 0.5rem 0;
	margin: 1.3125rem -1.3125rem -1.3125rem;
    background-color: #fafafa;
    text-align: center;
}

.alarmbell{
	width:17px;
	height:20px;
	opacity: .8 !important;
}
/* #alarmbell_li{
	margin-right:30px;
} */
/* .mydropdow{
	position: absolute;
	top:16px;
	height:100px;
} */

/*아래와 동일한 회원메뉴*/
#my_sub_member{
	position: absolute;
    top: 50px;
	left:1300px;
    width: 220px;
    z-index: 997;
    background-color: white;
    padding:0;
}
#a_sub{
	position: absolute;
    top: 32px;
	right: -132px;
    width: 220px;
    z-index: 997;
    background-color: white;
    padding:0;
}
/*.sub와 동일한 관리자 메뉴*/
#my_sub_admin{
	position: absolute;
    top: 38px;
    left: -90px;
    width: 220px;
    z-index: 997;
    background-color: white;
    padding:0;
}
.sub ul{
	padding:0;
}
.sub ul li{
	margin:0;
	width:100%;
	padding:10px;
}

.sub ul li:hover{
	background-color: #F4F2F3;
}


.Alram_box{
    position: absolute;
    bottom: 0;
    right: -72px;
    transform: translateY(99%);
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 1.3125rem;
    width: 250px;
    overflow: visible;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    z-index: 2;
    text-align:left;
}

.susub{
	padding:0;
	width:100%;
	background-color: #F4F2F3;
}
.susub li{
	background-color: #F4F2F3;
	height:40px;
	padding:10px 0px;
	margin:0;

}

.susub li:hover{
	background-color:white !important;
}
.alarm_content{
	font-size:12px;
	z-index: 999;	
}

.none_alarm_content{
	font-size:12px;
	z-index: 999;	
}
/* .susub li:last-child{
	background-color:#94A7AE;
}
.susub li:last-child:hover{
	background-color:#94A7AE;
} */
#more{
	background-color:#94A7AE;
	height:100%;
	width:100%;
	color:#F4F2F3;
	border:none;
	
}
/*알림 오면 보여줄 div*/
#alarmdiv{
	background-color: #dfccde;
	width:220px;
	height:80px;
	padding:5px;
	color:white;
	z-index:999;	
  	display:none;
	position:fixed;
	bottom:2vh;
	right:1vw;
	font-size:14px;
	line-height: 1rem;
}

/*메시지 수신 모달창*/
.msg_content{
	display:none;
	width: 190px;
	height:200px;
	position:relative;
	position: relative;
    top: 35%;
    left: 28%
    
}
.msg_content p{
	font-weight: 600;
	font-size:16px;
}
.msg_buttonarea{
	text-align: center;
	margin:20px;
}
.msg_btn{
	width:80px;
	color:#F4F2F3;
	background-color: #94A7AE;
	border:none;
	padding:5px;
}

/*쪽지 수신창*/
.alert_messagearea{
	width:400px;
	height:400px;
	background-size: cover;
    background-position: center;
	background-image: url(../assets/img/alarm/receive.png);
    background-repeat: no-repeat;
    background-position:center;
    margin:30px auto;
    overflow: auto;
    border:none;
    align-items: center;
    padding:20px;	
}

/* Locale 관련  */
#STATICMENU { 
	margin: 0pt; 
	padding: 0pt;  
	position: absolute; 
	right: 10px !important;
    top: 45% !important;
}
#STATICMENU div{
	margin-bottom:7px;
}
#circle1 {
background-color:#CA8FAB;
width:20px;
height:20px;
border-radius:75px;
text-align:center;
margin:0 auto;
font-size:12px;
vertical-align:middle;
line-height:150px;
cursor: pointer;
}
#circle1:hover{
background-color:#FFFFFF;
}

#circle2 {
background-color:#C0A9BD;
width:20px;
height:20px;
border-radius:75px;
text-align:center;
margin:0 auto;
font-size:12px;
vertical-align:middle;
line-height:150px;
cursor: pointer;
}

#circle2:hover{
background-color:#FFFFFF;
}

#circle3 {
background-color:#94A7AE;
width:20px;
height:20px;
border-radius:75px;
text-align:center;
margin:0 auto;
font-size:12px;
vertical-align:middle;
line-height:150px;
cursor: pointer;
}

#circle3:hover{
background-color:#FFFFFF;
}



