#wrap {
	width: 1000px;
	margin: 100px auto;
	text-align: center;
	font-size: 16px;
}

ul {
	padding: 0;
}

#profile_img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: auto;
}

#profile_img img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#modals {
	margin: 50px auto;
	width: 300px;
}

#modals ul {
	display: flex;
	margin: auto;
	padding: 0;
}

#modals li {
	width: 150px;
}

#cycoder p {
	margin-top: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #CA8FAB;
}

.details {
	background-color: #F4F2F3;
	margin: 30px 0;
	padding: 50px;
}

.details ul {
	text-align: left;
	margin-top: 50px;
}

.itemlist {
	margin: 15px auto;
	width: 700px;
	display: flex;
	align-items: center;
}

.cycoder_title {
	font-size: 21px;
	color: #94A7AE;
	letter-spacing: 10px;
	font-weight: bold;
	text-align: center;
}

.sub_title {
	color: #94A7AE;
	font-size: 16px;
	font-weight: bold;
}

.item {
	color: #CA8FAB;
	width: 200px;
	font-weight: bold;
}

.info {
	width: 500px;
	padding: 10px;
	background-color: #F4F2F3;
	width: 300px;
	margin-right: auto;
	border: none;
	outline: none;
}

.modify_items {
	border: none;
	background-color: #CA8FAB;
	color: #F4F2F3;
	width: 70px;
	padding: 5px;
}

.hid {
	border: none;
	background-color: #F4F2F3;
	color: #F4F2F3;
	width: 70px;
	padding: 5px;
}

.info-mdf {
	border: none;
	color: #CA8FAB;
	padding: 10px;
	width: 300px;
	outline: none;
	background-color: white;
	margin-right: auto;
}

.modify_p_info {
	border: none;
	background-color: #CA8FAB;
	color: #F4F2F3;
	width: 70px;
	padding: 5px;
}

.detail_section {
	margin: 50px auto;
	width: 700px;
}

.infolist {
	margin: 15px auto;
	width: 700px;
	align-items: center;
}

.infolist .item {
	width: 100%;
}

.info_tags {
	border: 2px solid #CA8FAB;
	color: #CA8FAB;
	width: 150px;
	height: 50px;
	font-size: 16px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	display: inline-block;
}

.main_skill {
	font-weight: bold;
}

#star {
	position: relative;
	top: -10px;
	left: 22px;
	color: #CA8FAB;
	width: 0
}

.moerdetails {
	text-align: center;
}

.moredetails a {
	width: 100%;
}

.insert {
	text-align: center;
	/*background-color:#F4F2F3;*/
	border: 2px solid #94A7AE;
	box-sizing: border-box;
	color: #94A7AE;
	width: 150px;
	height: 50px;
	font-size: 16px;
	padding: 10px;
	margin: 10px auto;
}

.insert:hover {
	border: 2px solid #CA8FAB;
	box-sizing: border-box;
	color: #CA8FAB;
	position: relative;
	top: -5px;
}

/*프로젝트 경험 모달창*/
.exarea {
	background-color: #F4F2F3;
	padding: 15px;
	font-size: 14px;
}

.exarea button {
	border: none;
	width: 30px;
	height: 30px;
	margin: 10px;
	align-items: center;
	font-weight: bold;
}

.exarea input {
	border: none;
	outline: none;
	background-color: white;
	padding: 10px;
	color: #94A7AE;
	margin: 10px 0;
	width: 300px;
}

.ex_button {
	margin-left: auto;
	width: 100px;
}

.add_ex {
	background-color: #94A7AE;
	color: #F4F2F3;
}

.del_ex {
	background-color: #cdd7db;
	color: #F4F2F3;
}

.ex_tags {
	text-align: center;
	/*background-color:#F4F2F3;*/
	border: 2px solid #94A7AE;
	box-sizing: border-box;
	color: #94A7AE;
	width: 150px;
	height: 50px;
	font-size: 14px;
	padding: 10px;
}

#middle_tag {
	margin: 10px 0;
}

.none {
	text-align: center;
	/*background-color:#F4F2F3;*/
	border: 2px solid #94A7AE;
	box-sizing: border-box;
	color: #94A7AE;
	width: 150px;
	height: 50px;
	font-size: 16px;
	padding: 10px;
	margin: 10px auto;
}

.reviewBox {
	width: 90%;
	margin: 0 auto;
	margin-top: 40px;
	
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	
	height: 400px;
	
}