@charset "UTF-8";

a{
	text-decoration:nonoe;
}
.wish_container{
	width: 1000px;
    margin: 100px auto;
    text-align: center;
    font-size: 16px;
}

.wish_section{
	background-color: #F4F2F3;
    margin: 30px 0;
    padding: 30px 50px 30px 50px;
}

.wish_title{
	font-size: 21px;
    color: #94A7AE;
    letter-spacing: 10px;
    font-weight: bold;
    text-align: center;
}

.info_text_sec{
	width:96%;
	margin: 0 auto;
	/* display: flex;	 */
}
.trasharea{
	margin-left:auto;
}
.checked_title{
	color: #94A7AE !important;
}

#msg_filter{
	display:flex;
}

#msg_filter p{
	color:gray;
}

#msg_filter p:after{
	content:"";
	padding:10px;
	
}

/* input[type=checkbox] { display: none; }
input[type=checkbox] + label { cursor: pointer; }
input[type=checkbox] + label > i {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: white;
    box-sizing: border-box;
    width: 20px; height: 20px;
    margin-top: -4px;
    border-radius: 2px;
}
input[type=checkbox]:checked + label > i:before {
    color: red;
    content:"";
}


#all_to, #all_from{
	display:block;
	position:relative;
	top:40%;
	left:35%;
	
} */


.info_text{
	font-size: 12px !important;
	color: #8e8ea2 !important;
	text-align: right;
}

.info_cut{
	text-align: right;
}

.marginBox{
	width: inherit;
	height: 50px;
}

.table_name_text{
	font-size: 18px !important;
    color: #94a7ae;
    font-style: italic;
    font-weight: 600;
    opacity: 0.8;
    margin: 0px;
}

.wish_project_list{
	width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
    background-color: #fff;
}
tbody{
	border-bottom:1px solid #F4F2F3 !important;	
}
.table_sec{
	width: 90%;
	margin: 0 auto;

}


/* 테이블디자인 */
.wish_table{
	border-collapse: collapse;
	text-align: center;
	
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.wish_table a:hover {
	color: #94a7ae;
	text-decoration: underline;
}

.table_head{
	background-color: #F4F2F3;
	font-size: 16px;
	border: none;
}

.apply_table th {
	border: none !important;
	color: #8c8c8c;
    font-size: 14px;
    font-weight: normal;
}

.read{
	color:#94A7AE;
}
.read a{
	color:#94A7AE;
}

/*선택된 쪽지*/
.selected_note{
	color:lightgray;
}
.selected_note a{
	color:lightgray;
}

/*모달창*/
.modal-content{
	height: 500px;
}
.messagearea{
	width:300px;
	height:300px;
	background-size: cover;
    background-position: center;
	background-image: url(../assets/img/alarm/message.png);
    background-repeat: no-repeat;
    background-position:center;
    margin:30px auto;
    overflow:hidden;
    border:none;
    align-items: center;
    padding:20px;
}
.clickedarea{
	width:300px;
	height:300px;
	background-size: cover;
    background-position: center;
	background-image: url(../assets/img/alarm/read.png);
	opacity:.5;
    background-repeat: no-repeat;
    background-position:center;
    margin:30px auto;
    overflow:hidden;
    border:none;
    align-items: center;
    padding:20px;
}
.clickedarea div{
	display:block;
}
.msg_content{
	display:none;
	width: 190px;
	height:200px;
	position:relative;
	position: relative;
    top: 35%;
    left: 28%
    
}
.msg_content p{
	font-weight: 600;
	font-size:16px;
}
.msg_buttonarea{
	text-align: center;
	margin-bottom:20px;
}
.msg_btn{
	width:80px;
	color:#F4F2F3;
	background-color: #94A7AE;
	border:none;
	padding:5px;
}
.close_modal{
	width:80px;
	color:#94A7AE;
	background-color: #F4F2F3;
	border:none;
	padding:5px;
}

/*답장하기*/
#reply_content{
	display:none;	
}
#messagearea{
	width:300px;
	height:300px;
	background-size: cover;
    background-position: center;
	background-image: url(../assets/img/alarm/read.png);
	opacity:.5;
    background-repeat: no-repeat;
    background-position:center;
    margin:15px auto;
    overflow: auto;
    outline:none;
    box-shadow: 1px;
    border: 0.2rem solid #94A7AE;
    align-items: center;
    padding:20px;
}

#messagearea:focus{
	background-image: url(../assets/img/alarm/read.png);
	opacity:.5;
    background-repeat: no-repeat;
    background-position:center;
    overflow: auto;
    outline:none;
    box-shadow: 1px;
    border: 0.2rem solid #94A7AE;
    margin-bottom:15px;
}
#messagearea span{
	text-align: center;
    margin: 0;
    position: relative;
	top: 20%;
    left: 18%;
    font-weight: 800;
    letter-spacing: 3px;
    color: white
}
#textcount{
	width:300px;
	margin:auto;
	text-align: right;
	color: #94A7AE;
}

#msg_buttonarea{
	text-align:center;
	margin-bottom:20px;
}

#msg_btn{
	color:#F4F2F3;
	background-color: #94A7AE;
	border:none;
	padding:10px;
	margin:20px auto;
	width: 70px;
	
}

/*쪽지 수신창*/
.alert_messagearea{
	width:400px;
	height:400px;
	background-size: cover;
    background-position: center;
	background-image: url(../assets/img/alarm/receive.png);
    background-repeat: no-repeat;
    background-position:center;
    margin:30px auto;
    overflow: auto;
    border:none;
    align-items: center;
    padding:20px;	
}