@charset "utf-8";

body {
	margin-top: 100px;
	font-family: 'Trebuchet MS', serif;
	line-height: 1.6
}

.container {
	width: 500px;
	margin: 0 auto;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current {
	display: inherit;
}

/* 프로젝트상세 헤더영역 */
div{
	display: block;
}

.projectPageHeaderWrap{
	background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 44px;
    position: relative;
    background-size: cover;
}

.projectPurposeWrap {
	width: 100%;
    text-align: center;
    margin-bottom: 28px;
}

.projectPageHeaderWrap .projectPurposeWrap div {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 20px;
    border-radius: 2px;
    border: 1px solid #c0a9bd;
    background-color: rgba(192,168,189,0.2);
    display: inline-block;
}

.projectPageHeaderWrap .projectPurposeWrap div span {
    color: #c0a9bd;
    font-size: 14px;
    line-height: 15px;
}

.projectPageHeaderWrap .projectPageHeaderContent {
    max-width: 1040px;
    margin: 0 auto;
    position: relative;
}

.projectPageHeaderWrap .projectTit {
    text-align: center;
    color: #222;
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
}

.projectPageHeaderWrap .projectLeaderWrap {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 12px;
    list-style: none;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap {
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    position: relative;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .leaderImg {
    width: 37px;
    height: 37px;
    border-radius: 100px;
    overflow: hidden;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .leaderImg img {
    width: 100%;
    height: auto;
}

.projectPageHeaderWrap .projectLeaderWrap .userIdWrap .userIdTxt {
    font-size: 14px;
    color: #666;
    margin-left: 11.5px;
    margin-right: 6.5px;
}

.projectPageHeaderWrap .statusTagWrap {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
}

.projectPageHeaderWrap .statusTagWrap .statusTag {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 9px;
    color: #fff;
    border-radius: 100px;
    margin-right: 6px;
    font-size: .7rem;
    
    background-color: #94a7ae;
}
